langchain
langchain-openai
langchain-community
chromadb
pymupdf
fastapi
uvicorn
streamlit
python-dotenv
ragas
pandas
requests
joblib
xgboost
langchain-text-splitters
langchain-google-genai
plotly
yfinance
psutil
scikit-learn
